In [1]:
import numpy as np
import pandas as pd

In [2]:
number_of_columns = int(input("How many columns do you want me to enter?\n"))

In [3]:
# fetching the name of that columns
column_name_list = []
for i in range(number_of_columns):
    column_name = str(input(f"Enter column name {i+1}: "))
    column_name_list.append(column_name)

In [4]:
column_name_list

['date', 'category', 'amount']

In [5]:
item_list = []
for entity in range(number_of_columns):
    item_list.append([])

In [6]:
number_of_items = int(input("How many items do you want to enter?\n"))
for i in range(number_of_columns):
    for j in range(number_of_items):
        item = str(input(f"Enter entity instance for {column_name_list[i]}: "))
        item_list[i].append(item)

In [7]:
daily_expenses = dict()
for i in range(number_of_columns):
    daily_expenses.update({column_name_list[i]:item_list[i]})

In [8]:
daily_expenses

{'date': ['01-09-24', '01-09-24', '02-09-24'],
 'category': ['food', 'transport', 'movie'],
 'amount': ['4000', '2000', '325']}

In [9]:
total_expenses = 0
for i in range(number_of_items):
    updated_amount_datatype = (float(daily_expenses.get('amount')[i]))
    daily_expenses["amount"][i] = updated_amount_datatype
    total_expenses += daily_expenses.get("amount")[i]

In [10]:
df = pd.DataFrame(daily_expenses)

In [11]:
df

       date   category  amount
0  01-09-24       food  4000.0
1  01-09-24  transport  2000.0
2  02-09-24      movie   325.0

In [12]:
df.describe()

            amount
count     3.000000
mean   2108.333333
std    1839.893566
min     325.000000
25%    1162.500000
50%    2000.000000
75%    3000.000000
max    4000.000000

In [13]:
saving_goal = float(input("Enter your saving goal: "))

In [14]:
total_money_for_month = float(input("Enter your total amount which you get for purchasing: "))

In [15]:
saved_money = (total_money_for_month-total_expenses)

In [16]:
if saved_money < 0 :
    print("You are below saving line")
    print(f"You spend {saved_money} money")
elif saved_money == 0:
    print("No saving!")
else:
    print(f"Your saving goal: {saving_goal}\nYou saved: {saved_money}")

Your saving goal: 500.0
You saved: 175.0

In [19]:
# excel sheet saving
month_name = str(input("Enter month name: "))
df.to_csv(f"Monthly_Expenses_of_{month_name}",index=False)