# PERSONAL_EXPENSE_TRACKER_SYSTEM VERSION 2

In [1]:
import pandas as pd
import os

In [2]:
print("Must enter amount as a field!")

Must enter amount as a field!

In [3]:
number_of_columns = int(input("How many columns do you want me to enter?\n"))

In [4]:
# fetching the name of that columns
column_name_list = []
for i in range(number_of_columns):
    column_name = str(input(f"Enter column name {i+1}: "))
    column_name_list.append(column_name)

In [5]:
# creating the empty list so that all the details will append into the list
item_list = []
# setting a 2-D array so that data will enter smoothly
for entity in range(number_of_columns):
    item_list.append([])
# creating the empty dictonary so that we can create a dataframe
daily_expenses = dict()

In [6]:
# inputing the number of fields into the dataframe
number_of_items = int(input("How many items do you want to enter?\n"))
# inputing the entity instance into the dataframe
for i in range(number_of_columns):
    for j in range(number_of_items):
        if i == 0:
            item = str(input(f"Enter entity instance of {column_name_list[i]}: "))
        else : 
            item = str(input(f"Enter entity instance of {column_name_list[i]} --> having {column_name_list[i-1]} : {item_list[i-1][j]} "))
        # appending the inputed entity instance into the dataframe
        item_list[i].append(item)
    # updating the daily_expenses time to time so that all the data will enter into it side-by-side as the loop runs
    daily_expenses.update({column_name_list[i]:item_list[i]})

In [7]:
# converting amount into the float data-type
# side-by-side calculating total_expenses as this will use in furthur calculations
total_expenses = 0
for i in range(number_of_items):
    updated_amount_datatype = (float(daily_expenses.get('amount')[i]))
    daily_expenses["amount"][i] = updated_amount_datatype
    total_expenses += daily_expenses.get("amount")[i]

In [8]:
# converting the given dictonary into the dataframe
df = pd.DataFrame(daily_expenses)

In [9]:
# printing the dataframe
df

      date   category  amount
0  12-2-24       food  2500.0
1  12-2-25  transport  2000.0

In [10]:
# performing all the statistical analysis of the amount field that is present in the dataframe
calculation_part = df.describe()

In [11]:
calculation_part

            amount
count     2.000000
mean   2250.000000
std     353.553391
min    2000.000000
25%    2125.000000
50%    2250.000000
75%    2375.000000
max    2500.000000

In [12]:
saving_goal = float(input("Enter your saving goal: "))

In [13]:
total_money_for_month = float(input("Enter your total amount which you get for purchasing: "))

In [14]:
saved_money = (total_money_for_month-total_expenses)

In [15]:
if saved_money < 0 :
    print("You are below saving line")
    print(f"You spend {saved_money} money")
elif saved_money == 0:
    print("No saving!")
else:
    print(f"Your saving goal: {saving_goal}\nYou saved: {saved_money}")

No saving!

In [16]:
# loading data into the excel sheet
month_name = str(input("Enter month name: "))
cwd = os.getcwd()
df.to_excel(f'{cwd}/Monthly_Expenses_of_{month_name}.xlsx',index=False)

In [17]:
# loading the calculated_data into the same excel sheet
with pd.ExcelWriter(f'{cwd}/Monthly_Expenses_of_{month_name}.xlsx', mode="a", if_sheet_exists='overlay') as writer:
    calculation_part.to_excel(writer, sheet_name='Satistical_analysis')